---
import { SITE_TITLE } from '@/config/site';

interface Props {
  title?: string;
  href?: string;
}

const { title, href } = Astro.props;
---

<header>
  <div
    class='pt-16 max-w-screen-lg px-4 md:px-10 mx-auto w-full flex flex-row justify-between items-center'
  >
    <a href={href || "/"}>
      <h1 class='text-slate-800 text-3xl w-full text-start font-semibold'>{title || SITE_TITLE}</h1>
    </a>
  </div>
</header>
